/* CSS */
/* Ajouter une classe personnalisée pour le fond d'écran */
body {
  background-image: url('../images/Fond\ 1.jpg'); /* Chemin vers l'image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Pour empêcher le fond de défiler avec la page */
}

/* Personnaliser la couleur de fond de la barre de navigation */
.navbar {
  background-color: #343a40; /* Couleur gris foncé */
}

/* Personnaliser la couleur du texte de la barre de navigation */
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: 'Montserrat', sans-serif; /* Couleur du texte blanc */
}

/* Personnaliser la couleur des icônes de réseaux sociaux */
.navbar-dark .navbar-nav .nav-link .fab {
  color: white;
  font-family: 'Montserrat', sans-serif; /* Couleur du texte blanc */
}

.logo {
  max-width: 100px; /* Définissez la largeur maximale souhaitée */
  height: auto; /* Conservez le rapport hauteur/largeur */
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Utilise 100% de la hauteur de la vue pour centrer verticalement */
  margin-bottom: 0;
  background-image: url('../images/Fond\ 1.jpg'); /* Chemin vers l'image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* Supprimez la marge en bas du jumbotron */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.table {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  margin-bottom: 1rem;
}

/* Style pour les cellules du tableau (lignes) */
.table td, .table th {
  padding: 1rem;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  margin-top: 60px;
}




